h1,h2,h3,h4,h5,h6{
    font-family: 'Lobster', cursive;
}

.menu{
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu .logo a img{
    width: 80px;
}
.enlaces ul,
.iconos ul{
    list-style: none;
    display: flex;
}
.enlaces ul li,
.iconos ul li{
    margin-right: 10px;
}
.enlaces ul li a,
.iconos ul li i,
.iconos ul li svg{
    text-decoration: none;
    font-size: 20px;
    color: white;
    
}
.enlaces ul li a:hover{ 
    border-bottom: 2px solid red;
    color: red;

}




.iconos ul li i,
.iconos ul li svg{
    background-color: red;
    padding: 5px 6px;
    border-radius: 10px;
}
.iconos ul li i:hover,
.iconos ul li svg:hover{
    background-color: white;
    color: red;
}

/* imagen principal*/
.principal{
    background-image: url(../imagenes/salpicaduras-leche-sobre-fondo-azul-splash-productos-lacteos-naturales-yogur-o-crema-ilustracion-realista_221648-128.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
}

.principal .con-texto h1{
    color: red;
    font-size: 50px;
    font-weight: bold;
}

.principal .con-texto p{
    font-size: 25px;

}

.principal .con-texto a{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid white;
    text-decoration: none;

    font-size: 20px;
}

.principal .con-texto a:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}

.principal.con-texto{
    width: 300px;
    text-align: center;
    margin-right: 200px;
}

.productos,
.servicios{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-pro h2{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-pro h2,
.titulo-ser h2{
    font-size: 50px;
    color: red;
}
 /*prodcutos*/

 .con-productos{
    width: 64%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:  0 auto;
 }

 .tarjeta{
    width: 300px;
    height: auto;
    border-radius: 15px;
    border: 1px solid gray;
    margin-bottom: 20px;
 }
 
 .tarjeta .con-texto h3{
    font-size: 30px;
    color: red;
    font-weight: bold;
    text-align: center;
 }

 .tarjeta .con-texto p{
    font-size: 20px;
    text-align: center;
 }

 .tarjeta .botones{
    display: flex;
    justify-content: space-around;
 }

 .tarjeta .botones span{
    font-size: 20px;
    font-weight: bold;
 }

 .tarjeta .botones a{
    padding: 7px 12px;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
 }

 .tarjeta img{
    width: 100%;
    height: auto;
 }

 /*servicios*/
 .con-servicios{
    width: 100%;
    height: auto;
 }

 .servicio-1,
 .servicio-2{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
 }

 .servicio-1 img,
 .servicio-2 img{
    width: 50%;
 }

 .servicio-1 .con-texto,
 .servicio-2 .con-texto{
    width: 50%;
    margin-left: 50px;
 }

 .servicio-1 .con-texto h3,
 .servicio-2 .con-texto h3{
    font-size: 35px;
    color: red;
    font-weight: bold;
 }

 .servicio-1 .con-texto p,
 .servicio-1 .con-texto ul,
 .servicio-2 .con-texto ul,
 .servicio-2 .con-texto p{
    font-size: 20px;
    color: rgb(red, green, blue)
 }